<head>
    <link rel="stylesheet" href="/css/collection.css">
</head>
<div class="collection-container">
    <h1>Your Collection</h1>
    <%user.chords.forEach(function(chord){%>
    <div>
        <a href="/chords/detail"><h3><%=chord.root%><%=chord.type%><%=chord.ext%></h3></a>
        <form action="/profile/collection/<%=chord.id%>?_method=DELETE" method='POST'>
            <button>Remove</button>
        </form>
    </div>
        
    <%})%>
</div>
