<a href="/chords">Home</a> | 
<a href="/auth/logout">Log Out</a>
<h2>Your Profile</h2>
<p>Hello, <%= currentUser.name%></p>
<h3>Bio</h3>
<p><%=currentUser.bio%></p>
<h4>Update your Bio</h4>
<form action="/profile/<%=currentUser.id%>/?_method=PUT" method='POST'>
<input type="text" name='bio' >
<input type="submit" value="Update" >
</form>
<a href="/profile/collection">View your collection</a>

