.chord-select-container{
    margin-top: 10rem;
    text-align: center;
    align-items: center;

}
.chord-select-container form{

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Kreon', serif;

    
}
.box{
    display: inline-block;
    position: relative;
}
.box select{
    border: 1px solid #333;
    font-family: 'Kreon', serif;
    font-weight: 700;
    background: transparent;
    color: #000;
    padding: 10px;
    width: 100px;
    margin: 1rem;
    height: 55px;
    font-size: 25px;   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.chord-select-container form button{
    font-family: 'Kreon', serif;
    font-size: 25px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
}
.chord-select-container form button:hover{
    background: #333;
    color: #fff;
}
.box::after{
    content: "";
    display: inline-block;
    border-top: 10px solid #777;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: calc(50% - 5px);
    right: 1rem;
    z-index: -1;
}