<head>
    <link rel="stylesheet" href="/css/chord-select.css">
    <script src="https://kit.fontawesome.com/ed45badbf5.js"></script>
</head>
<div class="chord-select-container">
    <h1>Pick your chord</h1>
    <form action="/chords" method='POST'>
        <div class="box">
                <select name="rootLetter" id="rootLetter">
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
        </div>
        <div class="box">
                <select name="type" id="type">
                    <option value="maj">maj</option>
                    <option value="min">min</option>
                </select>
        </div>
        <div class="box">
                <select name="extension" id="extension">
                    <option value="0">triad</option>
                    <!-- <option value="7">7</option>
                    <option value="9">9</option> -->
                </select>
        </div>
    
    <button>Go !</button>
        
    </form>
    
</div>
